.drop{
    display: flex;
    height: max-content;
    overflow: hidden;
}
.drop h1{
    width: 50%;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 100px;
    font-weight: 700;
}
.drop p{
    margin-top: 10%;
    width: 30%;
    color: rgb(157, 157, 157);
    font-weight: bold;
    font-size: large;
    margin-right: 5%;
    margin-left: 15% ;
}
.hello-form{
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 5%;
    overflow: hidden;
}
.hello{
    width: 50%;
    padding-left: 5%;
}
.hello h1{
    font-size: 40px;
}
.pTags h4{
    color: red;
    font-size: 30px;
    margin-bottom: 2%;
}
.pTags h5{
    font-size: 20px;
}
.pTags a{
    text-decoration: none;
    color:white;
}
.pTags h5 i{
    color: #0084ff;
}
.forms{
    margin: 0;
    width: 50%;
    margin: 0 5% 5% 5%;
    color: white !important;
    text-align: center;

}
.forms h1{
    text-align: center;
    margin-bottom: 7%;
    text-decoration: underline;
    text-underline-offset: 15%;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    font-size: 30px;
}

.forms input,
.forms textarea {
    border: 0;
    margin-bottom: 5% !important;
    width: 40%;
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid white;
    margin-right: 2% !important;
    color: white; 
}

.forms input:focus,
.forms textarea:focus {
    border: 0;
    border-bottom: 1px solid white;
    outline: none; 
}

.forms textarea {
    width: 82%;
    height: 40px;
}

.forms button {
    background: linear-gradient(90deg, #0084ff 0%, red 100%);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.forms button:hover {
    background: linear-gradient(90deg, #0084ff 0%, red 100%);

}

.iti--allow-dropdown{
    display: inline  !important;    
}
#phone{
    margin-bottom: 5% !important;
}


.iti__divider{
    padding: 0% !important;
    margin: 0% !important;
    border-bottom: none !important;
}
.iti__country-list .iti__country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: black !important ;
    border-bottom: 1px solid gray;
}
.iti__country-list .iti__country.iti__active{
    background-color: blue !important;
    color: white;
    font-weight: bold;
}

.iti__country-list .iti__country:hover {
    color: red;
}

.iti__country-list .iti__country-name {
    margin-right: auto;
}

@media (max-width:1110px) {
    .hello h1{
        font-size: 30px;
    } 
    .pTags h4{
        font-size: 25px;
    }
    .pTags h5{
        font-size: 15px;
    }

    .forms{
        text-align: center;
    }
    .forms h1{
        font-size: 30px;
    }
    .iti__country-list{
        width: 400px;
        overflow-x: hidden;
    }
    
}
@media (max-width:600px) {
    .drop{
        flex-direction: column;
    }
    .drop h1{
        width: 100%;
        margin-top: 3%;
        padding-left: 5%;
        margin-left: 0;
        font-size: 70px;
    }
    .drop p{
        margin-top: 10%;
        width: 95%;
        font-weight: bold;
        margin-right: 2%;
        margin-left: 5% ;
    }

    .hello-form{
        flex-direction: column;
        margin-bottom: 10%;
    }
    .hello{
        width: 100%;
        margin-bottom: 5%;
    }
    .forms{
        margin: 0;
        width: 100%;
        padding-left: 5%;
        
    }

    .forms input,
    .forms textarea {
        width: 250px;
    }

    .hello h1{
        font-size: 30px;
    }
    .pTags h4{
        font-size: 25px;
    }
    .pTags h5{
        font-size: 15px;
    }

    .forms{
        text-align: left;
    }
    .forms h1{
        font-size: 30px;
        text-align: left;
    }
    .iti__country-list{
        width: 300px;
    }
    
}
@media (max-width:300px) {
    .drop h1{
        font-size: 45px;
    }
    .drop p{
        font-weight: lighter;
    }
    .forms button {
        font-size: smaller;
    }
}


